<!-- Navbar Section -->
<%= partial 'partials/navbar' %>
<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Personal Section -->
  <%= partial 'partials/personal' %>
  <!-- Footer Section -->
  <%= partial 'partials/footer' %>
</div>
